.table-responsive
	%table.table.table-bordered.table-sorter
		%thead
			%tr
				%th ID
				%th Date
				%th Email
				%th IP address
				%th Referrer ID
				%th Referred
				%th Prize
				%th Delete

		%tbody
			= render @users

= will_paginate @users, renderer: BootstrapPagination::Rails