%section#main{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.cover 
		%h1.cover-title Prelauncher
		%h3.cover-subtitle Start your prelaunch referral campaign to gather thousands of emails before you even launch your e-commerce website.
		#form-wrapper
			= render "form"
			%small * We promise no spam, cause we hate spam
		%footer
			%p
				Powered by 
				%a{href: "http://prelauncher.io"} Prelauncher.io

