#content-wrapper {
    width: 100%;
}

#main{
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0px;
	width: 100%;
	display: table;
}

.cover{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	background-color: rgba(0, 0, 0, 0.4);
}

.cover-title{
	font-size: 50px;
	color: #FFF;
	font-weight: 400;
	font-family: sans-serif;
	width: auto;
	text-align: center;
	margin: 0px auto;
	text-transform: uppercase;
}

.cover-subtitle{
	font-size: 20px;
	color: #FFF;
	font-weight: 400;
	max-width: 600px;
	text-align: center;
	margin: 50px auto;
	text-transform: none;
  line-height: 1.2;
}

#new_user {
	width: auto;
	margin: 10px auto;
	padding: 0px;
	display: inline-block;
	border: medium none;
}

#new_user .form-group{
	display: inline-block;
}

#new_user .form-control{
	height: 45px;
	border-radius: 0px;
	font-size: 18px;
	width: 100%;
	float: left;
	display: inline-block;	
}

#new_user .btn {
    height: 45px;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    background-color: #4EC9ED;
    color: #FFF;
    float: left;
    display: inline-block;
    margin-left: -5px;
}

.cover small{
	font-size: 16px;
	color: #FFF;
	font-weight: 400;
	text-transform: none;
	text-align: center;
	margin: 0px auto;
	display: block;	
}

#refer{

	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
	top: 0px;
	width: 100%;
	display: table;
	padding-top: 50px;
	margin-bottom: 50px;
	background-size: cover;
	border-bottom: medium none;	
}

#copy h3{
	font-size: 18px;
	color: #FFF;
	font-weight: 400;
	margin: 30px auto 0px 50px;
	text-align: left;
	width: auto;
	text-transform: uppercase;
}

#copy h1 {
	font-size: 25px;
	color: #1ABC9C;
	font-weight: 800;
	margin: 5px auto 25px 50px;
	text-align: left;
	width: auto;
	text-transform: uppercase;	
}

#refer input {
    height: 35px;
    border-radius: 0px;
    font-size: 14px;
    width: 85%;
    margin: 10px 0px 25px 50px;
    text-align: center;
    line-height: 30px;
}

#refer p{
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
    margin: 0px auto 0px 50px;
    text-align: left;
    width: auto;
    text-transform: none;
}

#social-sharing {
    text-align: center;
    margin-top: 30px;
}

.contact-socials {
    display: inline-block;
}

.contact-socials li {
    padding: 0px 15px;
    float: left;
    transition: all 250ms ease-in-out 0s;
    text-align: center;
    border-right: 1px solid white;
}

.contact-socials li:last-child{
	border: none;
}

.ico-facebook {
    color: #3B5998;
}

.ico-facebook:hover{
	color: #3B5998;
	opacity: 0.8;
}

.contact-socials i.fa {
    font-size: 30px
}

.ico-twitter {
    color: #00A9ED;
}

.ico-twitter:hover{
	 color: #00A9ED;
	 pacity: 0.8;
}

.ico-pinterest{
    color: #bd081c;
}

.ico-pinterest:hover, .ico-pinterest:focus{
    color: #bd081c;
  opacity: 0.8;
}

.ico-gplus{
    color: #d34836;
}

.ico-gplus:hover, .ico-gplus:focus{
    color:  #d34836;
    opacity:0.8
}

.ico-mail {
    color: #25A3DC;
}

.ico-mail:hover{
	color: #25A3DC;
	pacity: 0.8;
}

aside h4{
    font-size: 18px;
    color: #333;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: none;
}

.cover footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  color: white;  
}

.cover footer a {
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 980px){


  #refer article p.small {
    display: none;
  }

  #refer figcaption {
    display: block;
  }


    #refer input {
      height: 30px;
      font-size: 19px;
      margin-top: 10px;
      line-height: 30px;
    }

    #refer figcaption{
      margin-top: 10px;
    }


    #refer h2 {
      padding-top: 20px;
      font-size: 22px;
      padding-bottom: 15px;
    }


}

@media screen and (max-width: 850px){
  



  #refer input {
    height: 30px;
    font-size: 18px;
    margin-top: 10px;
    line-height: 30px;
  }


  #refer figure{
    margin-top: 18px;
  }

  #refer h2 {
    line-height: 30px;
  }


}


@media screen and (max-width: 800px){



  .refer-left {
    padding: 0;
  }

  #refer input {
    height: 30px;
    font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 30px;
  }


  #refer figure{
    margin-top: 18px;
  }

  #refer h2 {
    line-height: 30px;
  }


}

@media screen and (max-width: 768px){

  #refer input {
    height: 28px;
    font-size: 17px;
    margin-top: 5px;
    line-height: 28px;
  }


  #refer p{
    line-height: 1.15;
  }

}

@media screen and (max-width: 767px){

  #reinforcement p{
    text-align: center;
  }

  #copy h1, #copy h3, #refer p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #refer input{
    margin-left: auto;
    margin-right: auto;
    font-size: 14px; 
  }

  #refer p {
    font-size: 17px;
  }

  #refer h1 {
    font-size: 30px;
    margin: 15px auto 20px;
  }


}

@media screen and (max-width: 600px){
  .cover {
    padding: 0 5px;
  }

    .cover-heading {
    font-size: 5vw;
  }

    #new_user {
  }

    #new_user input {
    font-size: 20px;
  }

    #new_user .user_email {
    margin-right: -4px;
    
  }

    #new_user .submit {
    min-width: 80px;
  }

}

@media screen and (max-width: 500px){

    #new_user .user_email {
    width: 60%;
  }

    #new_user .submit {
    width: 40%;
  }

  #prizes{
  	margin: 100px 20px;
  }



}



@media screen and (max-width: 450px){
     #new_user input {
      font-size: 18px !important;
  }

    .cover-heading {
    font-size: 30px;
  }

    #new_user {
    width: 100%;
  } 

    #new_user .user_email {
    width: 55%;
  }

    #new_user .submit {
    width: 45%;
  }

  .cover-title {
  	font-size: 36px;
  }

  .cover-subtitle {
    font-size: 18px;
  }

  .contact-socials li {
    padding: 0px 10px;
  }

}


@media screen and (max-width: 360px){

  #refer h1 {
    font-size: 27px;
  }

    .cover-heading {
    font-size: 25px;
  }
  
    #new_user .submit {
      min-width: 60px;
  }

  #refer p {
    font-size: 15px;
  }

  #refer figcaption p {
    font-size: 14px;
  }

}



@media screen and (max-width: 320px){
    #new_user input {
      font-size: 16px !important;
  }

    #new_user .user_email {
   width: 55%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }


}

@media screen and (max-width: 300px){

    .contact-socials li {
      padding: 0 5px;
  }

  .contact-socials i.fa {
      font-size: 22px;
  }

	#new_user .btn{
		margin-left: auto;
	}

    #new_user .form-group{
    width: 100%;
  }

    #new_user .submit{
    margin-top: -15px;
  }

    .cover-title {
  	font-size: 30px;
  }
  
  .cover-subtitle {
    font-size: 16px;
  }

    #new_user input {
      width: 100% !important;
      font-size: 18px !important;
  }
}
