- achieved = @user.achieved(prize)

.prize{class: "prize #{'active-prize' if achieved}"}
	%span.prize-number
		= prize.number_of_referrals
		%span friends
	%p.prize-name
		= prize.name

	- if prize.image.present?
		= image_tag(prize.image.url, width: 190, height: 250, style: "top: -330px")